<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>

    <style>
        .field{
            margin-bottom: 10px;
        }
        label{
            display: block;
        }
        #divResult{
            color : red;
            font-size: 18pt;
        }
    </style>

    <script src="angular.js"></script>

    <script>
        Object.prototype.toInt = function(){
            return parseInt(this, 10);
        }
        function MathCalculator(){
            this.operand1 = 0;
            this.operand2 = 0;
            this.result = 0;
        }
        MathCalculator.prototype.add = function(){
            this.result = this.operand1 + this.operand2;
        }
        MathCalculator.prototype.subtract = function(){
            this.result = this.operand1 - this.operand2;
        }
        MathCalculator.prototype.multiply = function(){
            this.result = this.operand1 * this.operand2;
        }
        MathCalculator.prototype.divide = function(){
            this.result = this.operand1 / this.operand2;
        }

        var calculatorApp = angular.module("calculatorApp", []);

        calculatorApp.controller("calculatorController", function($scope){
            $scope.calculator = new MathCalculator();
            $scope.operation = '';
            $scope.calculate = function(){
                $scope.calculator[$scope.operation]();
                /*switch ($scope.operation){
                    case 'add' :
                        $scope.calculator.add();
                        break;
                    case 'subtract' :
                        $scope.calculator.subtract();
                        break;
                    case 'multiply' :
                        $scope.calculator.multiply();
                        break;
                    case 'divide' :
                        $scope.calculator.divide();
                        break;
                }*/
            }
        });

    </script>
</head>
<body ng-app="calculatorApp" ng-controller="calculatorController">
    <input type="number" ng-model="calculator.operand1">
    <select ng-model="operation">
        <option value="add">add</option>
        <option value="subtract">subtract</option>
        <option value="multiply">multiply</option>
        <option value="divide">divide</option>
    </select>
    <input type="number" ng-model="calculator.operand2">
    <input type="button" value="Calculate" ng-click="calculate()">
    <br>
    <div id="divResult" ng-bind="calculator.result"></div>
</body>
</html>
