<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bug Tracker</title>
    <script>
    /*
    Use Cases
    =========
    1. List the bugs - done
    2. Add a new bug - done
    3. Toggle the 'closed' status of the bug - done
    4. Remove closed bugs - done
    5. Display statistics - done
    6. Search for bugs
    7. Sort the bugs
    8. Improve the bug display
    9. Persist the bugs in the localStorage
    10. Display the 'createdAt' for each bug
    11. Persist the bugs in the server
    ======
    12. Categorize the bugs

    Controller - UI logic

    */
    </script>
    <link rel="stylesheet" href="style.css">
    <script src="angular.js"></script>
    <script>
        var bugTrackerApp = angular.module("bugTrackerApp", []);

        //Model
        /*bugTrackerApp.value("Bug", function (defaultValues){
            this.name = defaultValues.name || '';
            this.isClosed = defaultValues.isClosed || false;
            this.toggle = function(){
                this.isClosed = !this.isClosed;
            };
        });*/

        bugTrackerApp.factory("Bug", function(){
            function Bug(defaultValues){
                this.name = defaultValues.name || '';
                this.isClosed = defaultValues.isClosed || false;
            }
            Bug.prototype.toggle = function(){
                this.isClosed = !this.isClosed;
            };
            return Bug;
        });



        bugTrackerApp.controller("bugsController", function($scope, Bug){
            $scope.getClosedCount = function(){
                var result = 0;
                for(var i=0; i<$scope.bugs.length; i++)
                    if ($scope.bugs[i].isClosed)
                        ++result;
                return result;
            };

            $scope.bugs = [
                new Bug({ name : "Unable to add bugs", isClosed : false}),
                new Bug({ name : "User authentication failure", isClosed : false}),
                new Bug({ name : "Server communication distrupts frequently", isClosed : false}),
            ];
            $scope.newBug = '';
            $scope.addNew = function(){
                var bug2Add = new Bug({ name : $scope.newBug});
                $scope.bugs.push(bug2Add);
            };
            $scope.toggle = function(bug){
                bug.toggle();
            };
            $scope.removeClosed = function(){
                for(var i=$scope.bugs.length-1; i>=0; i--)
                    if ($scope.bugs[i].isClosed)
                        $scope.bugs.splice(i,1);
            };
        });
    </script>
</head>
<body ng-app="bugTrackerApp" ng-controller="bugsController">
    <h1>Bug Tracker</h1>
    <section class="stats">
        <span class="closed">{{getClosedCount()}}</span>
        <span class="separator">/</span>
        <span>{{bugs.length}}</span>
    </section>
    <section class="search">
        <label for="">Search :</label>
        <input type="text" name="" id="">
        <label for="">isClosed ? :</label>
        <input type="checkbox" name="" id="">
    </section>
    <section class="sort">
        <label for="">Order By :</label>
        <input type="text" name="" id="">
        <label for="">Descending ? :</label>
        <input type="checkbox" name="" id="">
    </section>
    <section class="list">
        <label for="">Bug :</label>
        <input type="text" ng-model="newBug">
        <input type="button" value="Add New" ng-click="addNew()">
        <input type="button" value="Remove Closed" ng-click="removeClosed()">
        <ol>
            <li ng-repeat="bug in bugs" ng-click="toggle(bug)">
                <span ng-class="{closed : bug.isClosed}">{{bug}}</span>
            </li>

        </ol>
    </section>
</body>
</html>
